---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "@/styles/global.css";
import { Badge } from "@/components/ui/badge";

const pageTabTitle = "Xavier Khew";
---

<Layout title={pageTabTitle}>
  <main class='container'>
    <div class='flex-row flex-wrap md:flex py-xxl'>
      <div class='basis-full md:basis-3/6'>
        <p class='text-[18px]'>Hi. my name</p>
        <p class='text-[48px] font-bold'>Xavier Khew</p>
        <p class='text-[22px] font-medium'>
          Creative Technologist Associate at Accenture Song
        </p>
        <p class='text-[20px] text-subTextColor'>
          I build interactive and pixel perfect things that live on the web.
        </p>
      </div>

      <div class='basis-full md:basis-3/6'>
        <p class='text-[20px]'>
          Hey there! My name is Xavier from sunny
          <a href=''>Subang Jaya, Malaysia</a>
          and I enjoy developing things that live on the internet. My interest in
          web development started back in 2015 when I stumbled upon an HTML & CSS
          tutorial on YouTube - it turns out that hacking together a front end sparked
          my passion. Aside from software, I have an interest in tech hardware as
          well. Facing technical issues? I'm your guy!
        </p>
        <p class='text-[20px] py-xs'>
          Fast-forward to today, I'm a Creative Technologist at Entropia - part
          of Accenture Song. During my university days, I've had the privilege
          of working on project s during my studies where I developed a number
          of projects from its design phase to production phase.
        </p>
        <p class='text-[20px]'>
          <span class='font-bold'>
            When I'm not in front of a computer screen
          </span>
          , I'm probably out enjoying views that my city has to offer, out on food
          hunts, playing badminton, bouldering or patting my cat.
        </p>
      </div>

      <div class='basis-full md:basis-3/6'>
        <span class='text-[36px] font-medium'>Experiences</span>
      </div>

      <div class='basis-full md:basis-3/6'>
        <div class='flex columns-2'>
          <div class='basis-3/4 text-[20px] text-subTextColor'>
            Oct 2021 - Present
          </div>
          <div>
            <p class='text-[22px] text-subTextColor font-medium'>
              Creative Technologist Associate
            </p>
            <p class='text-[20px]'>Accenture Song</p>
            <p class='text-[18px]'>
              Build, styled and delivered high-quality frontend website while in
              collaboration with designers, copywriters and other stakeholders.
            </p>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
          </div>
        </div>
        <div class='flex columns-2'>
          <div class='basis-3/4 text-[20px] text-subTextColor'>
            Oct 2021 - Present
          </div>
          <div>
            <p class='text-[22px] font-medium'>
              Creative Technologist Associate
            </p>
            <p class='text-[20px] text-subTextColor'>Accenture Song</p>
            <p class='text-[18px] text-subTextColor'>
              Build, styled and delivered high-quality frontend website while in
              collaboration with designers, copywriters and other stakeholders.
            </p>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
            <Badge>HTML 5</Badge>
            <Badge>CSS</Badge>
            <Badge>SCSS</Badge>
            <Badge>Javascript</Badge>
          </div>
        </div>
      </div>
    </div>
    <ul role='list' class='link-card-grid'>
      <Card
        href='https://docs.astro.build/'
        title='Documentation'
        body='Learn how Astro works and explore the official API docs.'
      />
      <Card
        href='https://astro.build/integrations/'
        title='Integrations'
        body='Supercharge your project with new frameworks and libraries.'
      />
      <Card
        href='https://astro.build/themes/'
        title='Themes'
        body='Explore a galaxy of community-built starter themes.'
      />
      <Card
        href='https://astro.build/chat/'
        title='Community'
        body='Come say hi to our amazing Discord community. ❤️'
      />
    </ul>
  </main>
</Layout>
