---
import { ViewTransitions } from "astro:transitions";

import { SEO } from "astro-seo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.png' />
    <!-- <meta name='generator' content={Astro.generator} /> -->
    <SEO
      title='A Very Descriptive Title'
      description='A heavily optimized description full of well-researched keywords.'
      openGraph={{
        basic: {
          title: "A Very Descriptive Title",
          type: "A type.",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
        },
      }}
      twitter={{
        creator: "@jonasmerlins1",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class='container py-xxl'>
      <slot />
    </main>
  </body>
</html>
